@model IEnumerable<Workload.Models.PrjData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            LocalNo.
        </th>
        <th>
            E1 No.
        </th>
        <th>
            專案名稱
        </th>
        <th>
            專案狀態
        </th>
        <th>
            起始年月
        </th>
        <th>
            結束年月
        </th>
        <th>
            Editor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.PrjNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrjE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrjName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Status)*@
            @if (item.Status==1)
            {
                @:進行中
            }
            else
            {
                @:已結案
            }
        </td>
        <td>
            @(Html.DisplayFor(modelItem => item.MonthData.Year))年
            @(Html.DisplayFor(modelItem => item.MonthData.Month))月
        </td>
        <td>
            @(Html.DisplayFor(modelItem => item.MonthData1.Year))年
            @(Html.DisplayFor(modelItem => item.MonthData1.Month))月
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V_Empdata.EN_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrjNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrjNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrjNo })
        </td>
    </tr>
}

</table>
